.opportunity-container{
  display: flex;
  background: white;
  grid-area: main;
  border-left: 1px solid black;
  height: 90vh;
  align-items: center;
  justify-content: space-around;
  align-items: flex-start;
}
