<div class="background">
  <div cdkDropList  [cdkDropListData]="targetList"
       [cdkDropListConnectedTo]="['list-1', 'list-2', 'list-3']" id="{{listName}}"
       (cdkDropListDropped)="drop($event)">
    <div *ngFor="let opportunity of targetList" cdkDrag>
      <app-opportunity [opportunity] = "opportunity"></app-opportunity>
    </div>
  </div>
</div>
